<p>profile-page works! {{result.name}}</p>
<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.kinja-img.com/gawker-media/image/upload/gmarvnoino9qfcjigayg.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{result.name}}</h5>
          <p class="card-text">Address: {{result.vicinity}}</p>
          <p class="card-text"><small class="text-muted">Restaurant ID: {{result.id}} </small></p>
        </div>
      </div>
    </div>
  </div>
