<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img height="300" width="400"
        src="{{'https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&key=AIzaSyDcX_ABXVp1M_OkjvJDyAAhGPnJsvsZhXg&photoreference='+result.photos[0].photo_reference}}"
        class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{result.name}}</h5>
        <p>Price Level - {{result.price_level}}</p>
        <p class="card-text">Address: {{result.vicinity}}</p>
        <p class="card-text"><small class="text-muted">Restaurant ID: {{result.id}} </small></p>
      </div>
    </div>
  </div>
</div>
